@import "bootstrap/scss/bootstrap";

//Theme colors
$primary: #0f0f0f;
$secondary: #1CD836;
$blue: #45CFFE;
$white: #FBFDFB;
$peach: #FFD1D1;
$lavender: #DAB7FF;
$red:#FE3958;
$red-200: #FF7E85;

body {
    background-color: $white;
}

.nav-bg, .footer-bg {
    background-color: $primary;
}

.navbar-nav .nav-link {
    color:$white;
}
.nav-link:hover {
    color: $secondary;
}
.nav-link:active {
    color: $secondary;
}
.nav-link[tabindex]:focus {
    color: $secondary;
}

.dropdown-item:hover {
    color:$secondary;
}

.btn-primary-new {
    background-color: $white;
}

.btn-primary-new:hover {
    background-color: $secondary;
    color: $primary;
}

.btn-secondary-new {
    background-color: $primary;
    border-color: $secondary;
    color: $secondary;
}
.btn-secondary-new:hover {
    background-color: $secondary;
}

.card-home {
    border: none;
    background-color: $white;
    width: 60%;
}

.card-home .card-text {
    width: 70%;
    margin: 0 auto;
}

.btn-form-primary, .btn-form-secondary {
    background-color: $secondary;
}
.btn-form-primary:hover, .btn-form-secondary:hover {
    background-color: #4df376;
    color: $primary;
}

.btn-delete {
    color: $red;
}

.btn-delete:hover {
    color: $red-200;
}

.btn-edit {
    color:$primary;
}

.btn-edit:hover {
    color:$secondary;
}

.card-add-sim {
    width: 60%;
    border: 1px thin $primary;
}

.card-header {
    background: none;
}

.flag:hover {
    cursor: pointer;
}

.sidebar {
    background-color: $primary;
    color: $white;
}

.custom-tooltip {
  --bs-tooltip-bg: $blue;
  --bs-tooltip-color: $primary;
}