@import "bootstrap/scss/bootstrap";

.nav-bg, .footer-bg {
    background-color: #222222;
}

.navbar-nav .nav-link {
    color:white;
}
.nav-link:hover {
    color: #00db37;
}
.nav-link:active {
    color: #00db37;
}
.nav-link[tabindex]:focus {
    color: #00db37;
}

.link-row {
    transform: translateX(-130px);
}

.btn-primary-new {
    background-color: whitesmoke;
    transform: translateX(-25px);
}
.btn-primary-new:hover {
    background-color: #00db37;
    color: #222222;
}

.btn-secondary-new {
    background-color: #222222;
    border-color: #00db37;
    color: #00db37;
}
.btn-secondary-new:hover {
    background-color: #00db37;
}

.card {
    border: none;
}

.btn-form-primary, .btn-form-secondary {
    background-color: #00db37;
}
.btn-form-primary:hover, .btn-form-secondary:hover {
    background-color: #4df376;
}

.card {
    width: 60%;
    border: 1px thin #222222;
}

.card-header {
    background: none;
}

.flag:hover {
    cursor: pointer;
}